*{
    text-decoration: none;
}
.navbar{
    background: crimson;
    font-family: Calibri;
    padding-right: 15px;
    padding-left: 15;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
li{
    list-style:none;
    display: inline-block;

}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;


}
button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.container{
    border-radius: 10px;
    margin: auto;
    width: 200px;
    padding: 5px 20px 7px 15px;
    margin-top: 15px;
    box-shadow: 0 5px 8px 3px rgb(130, 2, 2);
}
.films{
    border-radius: 10px;
    margin: auto;
    max-width: 1246px;
    overflow: auto;
  }
  .p{
    border-radius: 10px;
    margin: 25px;
    border: solid black 2px;
    float: left;
    width: 196px;
    text-align: center;
  }
  .p img{
    border-radius: 10px;
    width: 196px;
    height: 255px;
  }
  a{
    text-decoration: none;
    color: #ccc;

}
body{
    background-color: #171717;;
    color: white;
}
